.i-map-content {
    height: 500px;
    display: block;
    padding-bottom: 100px;
}


/* i-form表单 */

.i-form {
    margin: 20px;
    padding: 50px;
}

.i-form-title {
    font-size: large;
    font-weight: bold;
    display: flex;
    text-align: center;
    padding-bottom: 50px;
}

.i-form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.i-form-content-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}